img{width: 100%; height: 100%;}
.textBtn{font-size: 13px; color:#000000; text-decoration:none;}
.Menu1:hover{background-color: gray;}
	.wrapper{width : 80%; height: 850px;  margin: auto;}
		.mainImgLayout { width : 100%; height: 7%; background-color: white; }
			.jungol{width : 15%; height:100%; background-color: red; float : left;}
			.mainrogin{width : 15%; height: 50%; background-color: white; float : right; text-align: right; padding-right: 20px;}	
		.subImgLayout1 { width : 100%; height: 5%; background-color: #F0F0F0; }
			.subImg1Menu{ width : 80%; height: 100%;  margin: auto; }
				.Menu1{ width : 10%; height: 100%;  float: left;}
		.subImgLayout2 { width : 100%; height: 28%; background-color: yellow; }

		.subImgLayout3 { width : 100%; height: 20%; background-color: orange; }
				.Menu31{width : 12.5%; height: 100%; background-color: #8B0000; float: left;}
				.Menu32{width : 12.5%; height: 100%; background-color: #00008B; float: left;}
				.Menu33{width : 12.5%; height: 100%; background-color: #B8860B; float: left;}
				.Menu34{width : 12.5%; height: 100%; background-color: #A9A9A9; float: left;}
				.Menu35{width : 12.5%; height: 100%; background-color: #556B2F; float: left;}
				.Menu36{width : 12.5%; height: 100%; background-color: #756B24; float: left;}
				.Menu37{width : 12.5%; height: 100%; background-color: #9932CC; float: left;}
				.Menu38{width : 12.5%; height: 100%; background-color: #FF8C30; float: left;}

		.subImgLayout4 { width : 100%; height: 40%; }
			.leftbox{width : 46%; height: 90%;  float: left; padding :1% 1% 1% 1%;}
			.rightbox{width : 50%; height: 100%;  float: left; padding :1% 1% 1% 1%;}
				.leftupbox{width : 48%; height: 42.5%; float: left; padding :1% 1% 1% 1%;}
				.rightupbox{width : 48%; height: 42.5%;  float: left; padding :1% 1% 1% 1%;}
				.leftdownbox{width : 48%; height: 42.5%;  float: left; padding :1% 1% 1% 1%;}
				.rightdownbox{width : 48%; height: 42.5%; float: left; padding :1% 1% 1% 1%;}

		.subImgLayout5 { width : 100%; height: 8%; background-color: #383838; font-size: 30; color : white ; float: left; padding: 10px 10px 10px 10px;}
}
}
}
}
}
}

